.colored, .relative{
  color:red;
}

.sized{
  font-size:30px;
}

.font{
  font-family:Arial,Verdana,sans-serif;
}

.transform{
  text-transform:uppercase;
}

.firstpic{
  width:900px;
  height:600px;
}

#fixed{
  position:fixed;
  right:0px;
  top:0px;
  margin:10px 10px 10px 10px;
  border:black 3px dashed;
  padding-top: 5px;
  padding-right:5px;
}

.absolute{
  position:relative;
}

.relative{
  position:absolute;
  font-size:20px;
  top:50px;
  right:0px;
  padding-right:10px;
  padding-bottom:10px;
}

ol li, ul li{
  color:blue;
}
