body{
  color:white;
  background-color:black;
}

#wrapper{
  width:960px;
  margin:0 auto;
  background-color:lightskyblue;
}

#headerWrapper{
  width:860px;
  height:100px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  background-color:orange;
}

#headerLeft{
  float:left;
  margin-left:20px;
  margin-top:10px;
  width:80px;
  height:80px;
}

img{
  width:80px;
  height:80px;
}

#headerMid{
  float:left;
  margin-left:10px;
  margin-top:10px;
  text-align:center;
  width:400px;
  height:80px;
  background-color:orange;
  color:midnightblue;
}

#headerRight{
  float:right;
  padding-top:10px;
  text-align:center;
  width:200px;
  height:85px;
  background-color:lightyellow;
  color:black;
  border-style:groove;
}

#HeroWrapper{
  width:860px;
  height:1080px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  background-color:dodgerblue;
}

#Hero1{
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#Ana1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Ana2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Ana1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero2{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Baptiste1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Baptiste2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Baptiste1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero3{
  clear:both;
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#Brigitte1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Brigitte2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Brigitte1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero4{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Kiriko1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Kiriko2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Kiriko1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero5{
  clear:both;
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#Lucio1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Lucio2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Lucio1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero6{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Mercy1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Mercy2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Mercy1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero7{
  clear:both;
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#Moira1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Moira2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Moira1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero8{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Zenyatta1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Zenyatta2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Zenyatta1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#FooterWrapper{
  width:860px;
  height:100px;
  margin-left:50px;
  margin-right:50px;
  background-color:orange;
}

#Tank{
  text-align:center;
  width:240px;
  height:50px;
  float:left;
  margin-left:30px;
  margin-top:10px;
  background-color:lightyellow;
  color:black;
  border-style: groove;
  border-color: black;
}

#Damage{
  text-align:center;
  width:240px;
  height:50px;
  float:left;
  margin-left:30px;
  margin-top:10px;
  background-color:lightyellow;
  color:black;
  border-style: groove;
  border-color: black;
}

#Back{
  text-align:center;
  width:240px;
  height:50px;
  float:right;
  margin-right:30px;
  margin-top:10px;
  background-color:lightyellow;
  color:black;
  border-style: groove;
  border-color: black;
}

#FooterWrapper span{
  padding-top:30px;
  font-size:20px;
}
