body{
  color:white;
  background-color:black;
}

#wrapper{
  width:960px;
  margin:0 auto;
  background-color:lightskyblue;
}

#headerWrapper{
  width:860px;
  height:100px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  background-color:orange;
}

#headerLeft{
  float:left;
  margin-left:20px;
  margin-top:10px;
  width:80px;
  height:80px;
}

#logo{
  width:80px;
  height:80px;
}

#headerMid{
  float:left;
  margin-left:10px;
  margin-top:10px;
  text-align:center;
  width:300px;
  height:80px;
  background-color:orange;
  color:midnightblue;
}

#headerRight{
  float:right;
  margin-top:10px;
  text-align:center;
  width:435px;
  height:80px;
  background-color:orange;
}

#smallheader1{
  float:left;
  margin-top:25px;
  margin-left:10px;
  text-align:center;
  width:90px;
  height:30px;
  background-color:lightyellow;
  color:black;
  border-style:groove;
}

#smallheader2{
  float:left;
  margin-top:25px;
  margin-left:10px;
  text-align:center;
  width:90px;
  height:30px;
  background-color:lightyellow;
  color:black;
  border-style:groove;
}

#smallheader3{
  float:left;
  margin-top:25px;
  margin-left:10px;
  text-align:center;
  width:90px;
  height:30px;
  background-color:lightyellow;
  color:black;
  border-style:groove;
}

#smallheader4{
  float:right;
  margin-top:25px;
  margin-right:10px;
  text-align:center;
  width:90px;
  height:30px;
  background-color:lightyellow;
  color:black;
  border-style:groove;
}

#headerRight h3{
  margin-top:5px;
}

#NewsWrapper{
  text-align:center;
  width:840px;
  height:350px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  padding-top:1px;
  padding-left:20px;
  background-color:navy;
}

#News1{
  line-height:normal;
  float:left;
  text-align:center;
  width:250px;
  height:250px;
  margin-left:10px;
  background-color:royalblue;
}

#News1 img{
  padding-top:30px;
  width:230px;
  height:100px;
}

#News2{
  line-height:normal;
  text-align:center;
  float:left;
  width:250px;
  height:250px;
  margin-left:25px;
  background-color:royalblue;
}

#News2 h4, #News3 h4, #News2 p{
  line-height:normal;
  padding-top:10px;
}

#News3{
  line-height:normal;
  text-align:center;
  float:right;
  width:250px;
  height:250px;
  margin-right:30px;
  background-color:royalblue;
}

#HistoryWrapper{
  text-align:center;
  width:840px;
  height:600px;
  margin-left:50px;
  margin-right:50px;
  margin-top:10px;
  margin-bottom:10px;
  padding-top:1px;
  padding-left:20px;
  background-color:mediumblue;
}

#Overwatch2016{
  line-height:normal;
  text-align:center;
  width:800px;
  height:250px;
  margin-left:10px;
  margin-right:30px;
  margin-top:10px;
  background-color:steelblue;
}

#Overwatch2016 h3, #Overwatch2022 h3{
  padding-top:30px;
}

#Overwatch2022{
  line-height:normal;
  text-align:center;
  width:800px;
  height:250px;
  margin-left:10px;
  margin-right:30px;
  margin-top:10px;
  background-color:steelblue;
}

#HeroesWrapper{
  text-align:center;
  width:840px;
  height:850px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  padding-top:1px;
  padding-left:20px;
  background-color:royalblue;
}

#Tank{
  width:800px;
  height:240px;
  margin-left:10px;
  margin-right:30px;
  margin-bottom:10px;
  background-color:royalblue;
}

#Tankinfo{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:white;
  background-color:royalblue;
}

#Dva{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Dva img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#Orisa{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Orisa img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#Reinhardt{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Reinhardt img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#MoreTank{
  text-align:center;
  float:right;
  margin-right:10px;
  margin-top:60px;
  width:80px;
  height:120px;
  color:black;
  background-color:paleturquoise;
}

#MoreTank img{
  padding-top:10px;
  width:50px;
  height:50px;
  background-color:paleturquoise;
}

#Damage{
  width:800px;
  height:240px;
  margin:20px 30px 20px 10px;
  background-color: royalblue;
}

#Damageinfo{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:white;
  background-color:royalblue;
}

#Genji{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Genji img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#Tracer{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Tracer img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#Cassidy{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Cassidy img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#MoreDamage{
  text-align:center;
  float:right;
  margin-right:10px;
  margin-top:60px;
  width:80px;
  height:120px;
  color:black;
  background-color:paleturquoise;
}

#MoreDamage img{
  padding-top:10px;
  width:50px;
  height:50px;
  background-color:paleturquoise;
}

#Support{
  width:800px;
  height:240px;
  margin:20px 30px 20px 10px;
  background-color:royalblue;
}

#Supportinfo{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:white;
  background-color:royalblue;
}

#Kiriko{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Kiriko img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#Lucio{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Lucio img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#Zenyatta{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:165px;
  height:220px;
  color:black;
  background-color:white;
}

#Zenyatta img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
}

#MoreSupport{
  text-align:center;
  float:right;
  margin-right:10px;
  margin-top:60px;
  width:80px;
  height:120px;
  color:black;
  background-color:paleturquoise;
}

#MoreSupport img{
  padding-top:10px;
  width:50px;
  height:50px;
  background-color:paleturquoise;
}

#FooterWrapper{
  text-align:center;
  width:840px;
  height:150px;
  margin-left:50px;
  margin-right:50px;
  padding-top:1px;
  padding-left:20px;
  background-color: orange;
}
