body{
  color:white;
  background-color:black;
}

#wrapper{
  width:960px;
  margin:0 auto;
  background-color:lightskyblue;
}

#headerWrapper{
  width:860px;
  height:100px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  background-color:orange;
}

#headerLeft{
  float:left;
  margin-left:20px;
  margin-top:10px;
  width:80px;
  height:80px;
}

img{
  width:80px;
  height:80px;
}

#headerMid{
  float:left;
  margin-left:10px;
  margin-top:10px;
  text-align:center;
  width:400px;
  height:80px;
  background-color:orange;
  color:midnightblue;
}

#headerRight{
  float:right;
  padding-top:10px;
  text-align:center;
  width:200px;
  height:85px;
  background-color:lightyellow;
  color:black;
  border-style:groove;
}

#HeroWrapper{
  width:860px;
  height:1350px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  background-color:dodgerblue;
}

#Hero1{
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#Dva1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Dva2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Dva1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero2{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Doomfist1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Doomfist2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Doomfist1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero3{
  clear:both;
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#JQ1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#JQ2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#JQ1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero4{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Orisa1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Orisa2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Orisa1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero5{
  clear:both;
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#Reinhardt1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Reinhardt2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Reinhardt1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero6{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Roadhog1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Roadhog2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Roadhog1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero7{
  clear:both;
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#Sigma1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Sigma2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Sigma1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero8{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Winston1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Winston2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Winston1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero9{
  clear:both;
  float:left;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-left:35px;
  background-color:dodgerblue;
}

#WB1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#WB2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#WB1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#Hero10{
  float:right;
  width:375px;
  height:240px;
  margin-top:20px;
  margin-right:35px;
  background-color:dodgerblue;
}

#Zarya1{
  float:left;
  text-align:center;
  margin-top:10px;
  margin-left:10px;
}

#Zarya2{
  float:right;
  width:175px;
  height:200px;
  margin-right:10px;
}

#Zarya1 img{
  margin-top:3px;
  width:160px;
  height:165px;
  background-color:paleturquoise;
  border-style:groove;
  border-color:black;
}

#FooterWrapper{
  width:860px;
  height:100px;
  margin-left:50px;
  margin-right:50px;
  background-color:orange;
}

#Damage{
  text-align:center;
  width:240px;
  height:50px;
  float:left;
  margin-left:30px;
  margin-top:10px;
  background-color:lightyellow;
  color:black;
  border-style: groove;
  border-color: black;
}

#Support{
  text-align:center;
  width:240px;
  height:50px;
  float:left;
  margin-left:30px;
  margin-top:10px;
  background-color:lightyellow;
  color:black;
  border-style: groove;
  border-color: black;
}

#Back{
  text-align:center;
  width:240px;
  height:50px;
  float:right;
  margin-right:30px;
  margin-top:10px;
  background-color:lightyellow;
  color:black;
  border-style: groove;
  border-color: black;
}

#FooterWrapper span{
  padding-top:30px;
  font-size:20px;
}
