body{
  color:black;
  background-color:black;
}

#wrapper{
  width:850px;
  margin:0 auto;
  background-color:lightskyblue;
}

#headerWrapper{
  width:750px;
  height:100px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:50px;
  background-color:cyan;
}

#headerLeft{
  float:left;
  margin-left:10px;
  margin-top:10px;
  width:80px;
  height:80px;
}

#headerMid{
  float:left;
  margin-left:20px;
  margin-top:10px;
  text-align:center;
  width:200px;
  height:80px;
  background-color:violet;
}

#headerRight{
  float:right;
  margin-top:10px;
  margin-right:10px;
  text-align:center;
  width:400px;
  height:80px;
  background-color:red;
}

#smallheader1{
  float:left;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width:80px;
  height:60px;
  background-color: black;
}

#smallheader2{
  float:left;
  margin-top:10px;
  margin-left:20px;
  text-align:center;
  width:80px;
  height:60px;
  background-color: black;
}

#smallheader3{
  float:right;
  margin-top:10px;
  margin-right:20px;
  text-align:center;
  width:80px;
  height:60px;
  background-color: black;
}

#smallheader4{
  float:right;
  margin-top:10px;
  margin-right:10px;
  text-align:center;
  width:80px;
  height:60px;
  background-color: black;
}

#NewsWrapper{
  float:left;
  width:750px;
  height:300px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:50px;
  background-color:purple;
}

#News1{
  float:left;
  width:240px;
  height:260px;
  margin-left:10px;
  background-color:yellow;
}

#News2{
  float:left;
  width:240px;
  height:260px;
  margin-left:10px;
  background-color:yellow;
}

#News3{
  float:right;
  width:240px;
  height:260px;
  margin-right:10px;
  background-color:yellow;
}

#productWrapper{
  float:right;
  width:500px;
  height:600px;
  margin-bottom:50px;
  background-color: purple;
}

#ProductOne{
  text-align:center;
  width:200px;
  height:255px;
  float:left;
  margin-left:30px;
  margin-top:30px;
  background-color: blue;
}

#ProductTwo{
  text-align:center;
  width:200px;
  height:255px;
  float:right;
  margin-right:30px;
  margin-top:30px;
  background-color: pink;
}

#ProductThree{
  text-align:center;
  width:200px;
  height:255px;
  float:left;
  margin-left:30px;
  margin-top:30px;
  background-color: green;
}

#ProductFour{
  text-align:center;
  width:200px;
  height:255px;
  float:right;
  margin-right:30px;
  margin-top:30px;
  background-color: brown;
}

#footerWrapper{
  clear:both;
  width:810px;
  height:100px;
  background-color: orange;
}
