body{
  color:black;
  background-color:black;
}

#wrapper{
  width:810px;
  margin:0 auto;
  background-color:white;
}

#headerWrapper{
  width:810px;
  height:100px;
  margin-bottom:50px;
  background-color:cyan;
}

#headerMid{
  float:left;
  margin-left:50px;
  width:200px;
  height:80px;
  background-color:grey;
}

#headerRight{
  float:right;
  width:100px;
  height:80px;
  background-color: red;
}

#newsWrapper{
  width:810px;
  height:400px;
  background-color:yellow;
}

#productWrapper{
  width:810px;
  height:400px;
  background-color: purple;
}

#ProductOne{
  width:200px;
  height:300px;
  float:left;
  background-color: blue;
}

#ProductTwo{
  width:200px;
  height:300px;
  float:left;
  background-color: pink;
}

#ProductThree{
  width:200px;
  height:300px;
  float:right;
  background-color: green;
}

#footerWrapper{
  width:810px;
  height:100px;
  background-color: orange;
}
