body{
  color:blue;
  background-color:black;
}

#wrapper{
  width:810px;
  margin:0 auto;
  background-color:white;
}

#headerWrapper{
  width:810px;
  height:800px;
  margin-bottom:50px;
}

#headerMid{
  float:left;
  width:205px;
  height:800px;
  background-color:grey;
}

#headerRight{
  float:left;
  width:400px;
  height:800px;
  background-color: red;
}

#newsWrapper{
  float:right;
  width:205px;
  height:800px;
  background-color:yellow;
}

#productWrapper{
  width:400px;
  height:100px;
  background-color: purple;
}

#ProductOne{
  width:400px;
  height:290px;
  background-color: blue;
}

#ProductTwo{
  width:400px;
  height:350px;
  background-color: pink;
}

#ProductThree{

}

#footerWrapper{
  
}
