.divone{
  background-color: green;
}

.divtwo{
  border: black 4px dotted;
  margin:0 20px 0 20px;
}

.pone{
  margin: 20px 10px 20px 10px;
  color: red;
}

.ptwo{
  margin: 20px 10px 20px 10px;
  color: gainsboro;
}

.pthree{
  color: purple;
}
