body{
  background-color: blue
}

.firstdiv{
  margin:80px 100px 400px 100px;
  border:black 3px solid;
}

p{
  color:red;
  margin:20px 20px 20px 20px;
  border:green 2px dashed;
  padding:10px 5px 10px 5px;
}

img{
  margin:auto;
  border:yellow 2px dashed;
  padding:20px 20px 20px 20px;
}
