body{
  background-color: blue
}

.firstdiv{
  margin:80px 100px 400px 100px;
  border:black 3px solid;
}

p{
  color:red;
  margin:10px 10px 10px 10px;
  border:green 1px dashed;
}

img{
  margin:auto;
  border:black dashed;
  padding:inherit;
}
