body{
	color:white;
	background-color:black;
}


#wrapper{
	width:1000px;
	height:700px;
	margin:0 auto;
	background-color:white;
}

#header{
	background-color:red;
	height:50px;
	text-align:center;
}

#body{
	height: 500px;
	background-color:green;
}

#bottom{
	background-color:blue;
	height:50px;
}
