body{
	color:black;
	background-color:black;
}


#wrapper{
	width:1000px;
	height:700px;
	margin:0 auto;
	background-color:green;
}

#header{
	background-color:red;
	height:70px;
	text-align:center;
	margin:0;
	padding-top:1px;
}

#body{
	height: 500px;
	background-color:green;
	margin:0;
	padding-top:1px;
}

#bottom{
	background-color:blue;
	height:70px;
	margin:0;
	padding-top:1px;
}
