body{
	color:black;
	background-color:black;
}

#wrapper1{
	width:1400px;
	height:700px;
	margin:0 auto;
	background-color:white;
}

#wrapper2{
	width:1300px;
	height:600px;
	margin-top:10px;
	background-color:green;
}

#leftbody{
	height:100px;
	width:100px;
	background-color:blue;
	margin:0 auto;
	margin-left:20%;
	margin-right:20%;
	padding-top:10px;
	float:left;
}

#rightbody{
	height:100px;
	width:100px;
	background-color:red;
	margin:0 auto;
	margin-right:20%;
	margin-left:20%;
	padding-top:10px;
	float:right;
}

#anotherbody{
	height:100px;
	width:100px;
	background-color:yellow;
	margin:0 auto;
	margin-left:40%;
	margin-right:40%;
}
