body{
	color:white;
	background-color:black;
}


#wrapper{
	width:1000px;
	height:700px;
	margin:0 auto;
	padding-top:1px;
	background-color:white;
}

#header{
	background-color:red;
	height:70px;
	text-align:center;
	display:block;
}

h2,p{
	padding-top:20px;
}

#body{
	height: 500px;
	background-color:green;
	display:block;
}

#bottom{
	background-color:blue;
	height:50px;
	display:block;
}
