body{
	color:black;
	background-color:black;
}

#wrapper1{
	width:1200px;
	height:700px;
	margin:0 auto;
	background-color:white;
}

#wrapper2{
	width:1180px;
	height:700px;
	margin:0 auto;
	margin-top:10px;
	background-color:green;
}

#leftbody{
	height:200px;
	width:200px;
	background-color:blue;
	margin:0 auto;
	margin-left:20%;
	margin-right:20%;
	margin-top:100px;
	padding-top:10px;
	float:left;
}

#rightbody{
	height:200px;
	width:200px;
	background-color:red;
	margin:0 auto;
	margin-right:20%;
	margin-left:20%;
	margin-top:100px;
	padding-top:10px;
	float:right;
}

#anotherbody{
	height:200px;
	width:200px;
	background-color:yellow;
	margin-left:40%;
	margin-right:50%;
}

p{
	margin-top:10px;
}
