body{
	color:black;
	background-color:black;
}

#wrapper{
	width:1000px;
	height:722px;
	margin:0 auto;
	background-color:green;
}

#header{
	background-color:red;
	height:70px;
	text-align:center;
	margin:0 auto;
	width:60%;
}

#leftbody{
	height: 70px;
	background-color:pink;
	margin:0 auto;
	margin-left:20%;
	padding-top:1px;
	float:left;
	width:10px;
}

#rightbody{
	height:70px;
	background-color:orange;
	margin:0 auto;
	margin-right:20%;
	padding-top:1px;
	float:right;
	width:20px;
}

#anotherbody{
	height:600px;
	background-color:blue;
	padding-top:1px;
	width:60%;
	margin:0 auto;
}

#bottom{
	background-color:yellow;
	height:50px;
	margin:0 auto;
	padding-top:1px;
	width:60%;
}
